.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    width: 6px;
    height: 6px;
    background-color: var(--primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    background: transparent;
    transition: width 0.3s, height 0.3s;
}

@media (max-width: 1024px) {

    .cursor-dot,
    .cursor-outline {
        display: none;
    }
}