.wave-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 1;
}

.wave-divider svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 100px;
}

.wave-divider .shape-fill {
    fill: var(--darker);
}

.wave-divider.up {
    transform: rotate(180deg);
    bottom: auto;
    top: 0;
}

@media (max-width: 768px) {
    .wave-divider svg {
        height: 50px;
    }
}