#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  overflow-x: hidden;
}

.progress-bar-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: var(--primary);
  transform-origin: 0%;
  z-index: 2000;
  box-shadow: 0 0 10px var(--primary-glow);
}

main {
  width: 100%;
}